html{
    font-size: 16px;
}

body{
    font-family: "Quicksand";
    margin: 0;
    color: #09a78f
}

/* Key Form */

.key-form{
    background-image: linear-gradient(#ead5e4, #c5e5f0);
    height: 100vh;
}

.key-form-item {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.key-form h2 {
    margin-top: 0px;
    text-align: center;
    color: #09a78f;
    padding-top: 50px;
    padding-bottom: 15px;
}

input[type=text] {
    box-sizing: border-box;
    width: 50%;
    color: #2a423a;
    padding: 1em;
}

.incorrect-key {
    font-weight: bold;
    text-align: center;
}

/* Main Site */

.cupcakes {
    background: url("../img/cupcakes-thin.jpg");
    height: 30px;
    background-repeat: repeat-x; 
    width: 100%;
    background-size: contain;
}

.date-fact-container,
.actor-container,
.num-fact-container,
.chuck-container {
    min-height: 50px;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;   
}

/* Title */

.main-title {
    width: 100%;
    background: url("../img/cupcakes-two.jpg");
    background-position: left;
    background-size: cover;
    min-height: 300px;
    border-bottom: 1px solid #9fc5d2
}

.main-title h1 {
    font-size: 2em;
    color: #09a78f;
    text-align: center;
    margin: 0 45px;
    padding-top: 40px;
}

/* Intro */

.intro {
    background: url("../img/dinos.jpg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fcf0fe;
    min-height: 234px;
    width: 100%;
    color: #09a78f;
    font-weight: bold;
    border-bottom: 1px solid #9fc5d2
}

.intro-one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro-one p {
    width: 62%;
    margin-left: 15px;
    margin-top: 9px;
    text-align: left;
}

.intro-two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro-two p {
    width: 47%;
    margin-top: 19px;
    margin-right: 15px;
    font-size: 1em;
    text-align: right;
}

.extra-space {
    width: 100%;
    height: 16px;
    background: #c7e7f2;
}

/* Button Section */

.button-container {
    background-image: linear-gradient(#ead5e4, #c5e5f0);
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.date-button,
.button {
    width: 44%;
    text-align: center;
    margin: 12px;
}

.button-img {
    margin: 12px;
}

.submit,
.date-button-text,
.actor-button,
.num-button,
.chuck-button {
    background-color: #fde5e5;
    border-radius: 5px;
    border-color: #94ffef;
    border-width: medium;
    font-family: "Quicksand";
    font-weight: bold;
    color: #09a78f;
    font-size: 1em;  
}

.date-fact,
.num-fact {
    background-color: #09a78f;
    padding: 5px;
    color: #fde5e5;
    margin: 20px;
    border-radius: 10px;
}

.date-img {
    max-height: 150px;
}

/* Actor Section */

.imdb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.imdb-img {
    max-height: 50px;
}

.actor-container {
    text-align: center;
    color: #fde5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.actor {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.actor-title {
    text-align: center;
    width: 83%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.actor-name{
    margin: 0;
    padding: 7px 0;
    width: 75%;
    border-radius: 10px;
}

.actor-img{
    width: 45%;
}

.actor-name,
.actor-bio {
    background: #09a78f;
}

.actor-bio {
    text-align: left;
    width: 75%;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fde5e5
}

/* Number Section */

.num-img {
    max-height: 70px;
}

.surprise {
    color: #09a78f;
    background-color: #ead5e4;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1em;
    margin: 28px;
}

/* Chuck Section */

.chuck-button-combo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.cake-div {
    width: 54%
}

.cake-img {
    margin: 0 10px;
    width: 100%;
}

.chuck-button-container {
    align-items: flex-start;
}

.chuck-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
}

.chuck-button-div{
    width: 34%;
    margin-right: 0;
}

.chuck-img {
    max-height: 250px;
    max-width: 100%;
}

.chuck-fact {
    background-color: #09a78f;
    padding: 5px;
    color: #fde5e5;
    border-radius: 10px;
}

.hide,
.hidden {
    display: none;
}

/*******************************************************
MEDIA QUERIES
*********************************************************/

@media only screen and (min-width: 768px) {
    /* Tablet Styles */
  
  /* Key Section */

    .key-form-item {
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    
    .key-form h2 {
        font-size: 2.1em;
        padding-top: 75px;
        margin-left: 35px;
        margin-right: 35px;
    }

    input[type=text] {
        width: 51%;
    }

    .main-title {
        min-height: 450px;
    }

    .main-title h1 {
        font-size: 3em;
        padding-top: 70px;
    }

    /*Intro*/

    .intro {
        background-image: url(../img/dinos.jpg);
        height: 561px;
        color: #09a78f;
        font-weight: bold;
        border-bottom: 1px solid #9fc5d2;
    }

    .intro-one {
        width: 100%;
        margin-left: 16px;
        margin-top: 23px;
    }

    .intro-one p {
        width: 60%;
        font-size: 2.1em;
        margin-left: 20px;
    }

    .intro-two {
            width: 100%;
            margin-top: 40px;
    }

    .intro-two p {
        width: 48%;
        font-size: 2.1em;
        margin-right: 42px;
        margin-top: 10px;
    }
    
    .cupcakes {
        height: 62px;
    }

    .extra-space {
        height: 38px;
    }

    /* Button Section */

    .button-container {
        padding: 65px 0;
    }

    .button {
        margin: 25px;
    }

    .date-button-text,
    .actor-button,
    .num-button,
    .chuck-button,
    .surprise,
    .chuck-fact {
        font-size: 1.5em;
    }

    .date-button {
        width: 50%;
        margin: 0px;
    }

    .date-button-text {
        width: 63%;
    }

    .date-img {
        max-height: 226px;
    }

    .date-fact-container {
        margin-top: 50px;
    }

    .date-fact-container,
    .num-fact-container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .date-fact,
    .num-fact {
        font-size: 1.5em;
        width: 54%;
        padding: 15px 27px;
    }

    .actor-bio {
        font-size: 1.5em;
        width: 73%;
        padding: 15px 27px
    }

    .imdb-container {
        margin-bottom: 50px;
    }

    .imdb-button-img,
    .imdb-button {
        width: 50%;
        text-align: center;
        margin: 0;
    }

    .imdb-img {
        max-height: 110px;
    }

    .actor-container {
        margin-top: 0;
    }

    .actor-name {
        margin-right: 200px;
        margin-left: 200px;
    }

    .actor-button {
        margin-right: 50px;
    }

    .actor-name {
        margin-bottom: 30px;
        font-size: 2em;
    }

    .num-container {
        justify-content: space-around;
    }

    .num-button {
        margin-left: 150px;
        padding: 10px;
    }

    .num-img {
        max-height: 110px;
        margin-right: 150px;
    }

    .surprise {
        margin: 40px 126px;
        padding: 10px 0;
    }

    .num-fact {
        margin-left: 100px;
        margin-right: 100px;
    }

    .chuck-button-combo {
        width: 50%;
    }

    .cake-div {
        width: 100%;
    }

    .chuck-button-div {
        width: 100%;
        margin-left: 25px;
        margin-top: 25px;
    }

    .chuck-button {
        padding: 10px;
        width: 100%;
    }

    .chuck-container {
        margin: 0;
        width: 45%;
    }

    .chuck-item {
        width: 85%;
    }

    .chuck-fact {
        margin-top: 0;
    }

    .chuck-img-item {
        text-align: center;
    }

    .chuck-img {
        max-height: 312px;
    }
}


/*******************************************************
MEDIA QUERIES
*********************************************************/

@media only screen and (min-width: 1200px) {
    /*Desktop Styles */

    .key-form h2 {
        font-size: 2.8em;
    }

    .key-form-item {
        font-size: 2em;
    }

    input[type=text] {
        font-size: .8em;
        width: 62%;
    }

    .submit {
        padding: 6px 16px;
    }

    .main-title {
        min-height: 600px;
        background-position: center;
    }

    .main-title h1 {
        font-size: 5em;
    }

    .intro {
        height: 600px;
    }

    .intro-one {
        margin-left: 61px;
        margin-top: 36px;
        justify-content: flex-end;
    }

    .intro-one p {
        font-size: 2.5em;
        width: 39%;
        text-align: right;
        margin-right: 132px;
        margin-top: 70px;
    }

    .intro-two {
        margin-top: 0;
    }

    .intro-two p {
        width: 40%;
        font-size: 2.5em;
        margin-top: 36px;
        margin-right: 67px;
        text-align: right;
    }

    .cupcakes {
        height: 100px;
    }

/*Button Section */

    .button-container{
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

    .date-button-text,
    .actor-button,
    .num-button,
    .chuck-button,
    .surprise {
        font-size: 1em;
    }

    .date-button,
    .button {
        width: 29%;
        font-size: 2em;
    }

    .date-button-text {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }

    .button-img {
        width: 33%;
        text-align: center;
    }

    .date-img {
        max-height: 300px;
    }

    .date-fact-container{
        width: 33%;
        margin-top: 0;
    }

    .date-fact {
        font-size: 2em;
        margin: 0;
        width: 100%;
    }

    .imdb-button-container {
        align-items: flex-start;
    }

    .imdb-container {
        width: 100%;
    }

    .imdb-button {
        width: 53%;
    }

    .imdb-button-img {
        width: 26%;
        margin-right: 90px;
    }

    .imdb-img {
        max-height: 110px;
    }

    .actor-button {
        font-size: 1em;
        margin-left: 124px;
    }

    .actor-container {
        width: 40%;
    }

    .actor-title {
        margin: 0;
    }

    .actor-name {
        margin: 0 0 22px;
    }

    .actor-img {
        max-height: 400px;
    }

    .actor-bio {
        margin: 0;
        width: 53%;
    }

    .num-container {
        justify-content: space-around;
    }

    .num-button-div {
        width: 20%;
    }

    .num-button {
        width: 77%;
        margin-left: 0;
    }

    .num-img {
        margin-right: 0;
        max-height: 230px;
    }

    .num-fact-container {
        width: 33%;
    }

    .surprise {
        font-size: 1.5em;
        margin: 0;
    }

    .num-fact {
        margin: 25px 0;
        width: 100%;
    }

    .chuck-button-container {
        align-items: flex-start;
    }

    .cake-div {
        text-align: center;
    }

    .cake-img {
        max-height: 500px;
        width: auto;
    }

    .chuck-button-div,
    .chuck-item {
        width: 100%;
    }

    .chuck-img {
        max-height: 405px;
    }

}